.control-panel {
  padding: 0.5rem;

  fieldset {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $color-control-panel-border;
    background: $color-control-panel-bg;

    label {
      margin-right: 0.5rem;
    }
  }

  legend {
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid $color-control-panel-border;
    font-size: 1.25rem;
  }

  select {
    height: 1.5625rem;
  }

  .shape {
    margin-bottom: 0.5rem;
  }

  .size input {
    max-width: 2.8rem;
  }

  .shape,
  .size {
    label {
      display: inline-block;
      min-width: 3rem;
    }
  }

  .start-position {
    .heading {
      font-weight: 500;
      font-size: 1rem;
    }

    input {
      max-width: 2.8rem;
      margin-right: 1rem;
    }
  }

  .button {
    padding: 0.5rem 0.75rem;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
    color: $color-control-panel-button-text;
    background: $color-control-panel-button-bg;

    &:hover,
    &:focus {
      background: $color-control-panel-button-highlight;
    }
  }

  .instruction-button {
    margin-right: 0.5rem;
  }

  .reset-button {
    margin-top: 0.5rem;
    padding: 0;
    border: 0;
    background: none;
    text-decoration: underline;
    color: $color-control-panel-reset-button;

    &:hover,
    &:focus {
      color: $color-control-panel-reset-button-highlight;
    }
  }

  .submit-area {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: $color-submit-area-bg;
  }

  .debug-input {
    margin-bottom: 0.75rem;
  }

  input[type="checkbox"] + label {
    margin-left: 0.25rem;
  }

  label span {
    font-size: 0.85rem;
    color: $color-text-light;
  }
}
