.instructions {
  margin-top: 1.5rem;

  .heading {
    font-size: 1rem;
    font-weight: 500;
  }

  .added-instructions {
    padding: 0.5rem;
    border: 1px dashed $color-instructions-border;
    border-radius: 4px;

    ol {
      padding: 0;
      list-style: none;
    }

    li {
      display: inline;
    }
  }
}
