.instructions {
  margin-top: 1.5rem;

  .heading {
    font-size: 1rem;
    font-weight: 500;
  }

  .added-instructions {
    padding: 0.5rem;
    border: 1px dashed #ccc;
    border-radius: 2px;
  }
}
